*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: sans-serif;
}
/* start navbar */
#nav-bar{
    position: sticky;
    top:0;
    z-index: 10;
}
.navbar #navbarNav{
    background-image: linear-gradient(to right);
    padding: 0;
}
.navbar .nav-item{
    padding: -0px 10px;
}
.navbar .nav-item a{
    font-weight: 650;
    text-align: left;
}
.navbar span{
    font-weight:600; 
    color:#474646;
    text-transform: uppercase;
}
/* end navbar*/

table, th, td{
    border: 2px solid white;
    margin-left: 28%;
    margin-right: auto;
    background-color: rgb(229, 214, 193);
    color:black;
    padding: 5px 20px 10px 5px;
    width:auto;
    font-size:medium;
    text-align: center;
}
.select-section .heading-title{
    font-size: 1.5rem;
    display: block;
    color:#474646;
    padding: 10px 425px 10px 425px;
}
.select-form{
    text-align: center;
    display: block;
    padding: 5px 425px 10px 3px;
    margin-bottom: 20px;
}
#f{
    margin-bottom: 11px;
    padding-bottom: 10px;
}
:placeholder-shown{
    text-align: center;
    font-size: 0.9rem;
}
.customers-hight .customers-ta tr:nth-child(even)
{
    background-color: #f2f2f2;
}
.button {
    background-color:rgb(229, 214, 193);;
    width: 66px;
    height: 40em;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    border: 2px solid white;
    font-size: 1px;
    cursor: pointer;
}
.transfer .heading-title{
    font-size: 1.5rem;
    display: block;
    color:#474646;
    padding: 10px 425px 10px 425px;
    margin-left: auto; 
    margin-top: 50px; 
    margin-bottom: auto;
}
.from , .to , .amount{
    font-size: 1rem;
    display: block;
    color:#474646;
    padding: 10px 425px 10px 222px; 
    margin-top: 25px;
}
#form , #to , #amount{
    font-size: 1rem;
    text-align: center;
    display: block;
    padding: 10px;
    width:40%;
    margin-left: 20%;
    text-align: center;
}
.btnholder {
    background-color: rgb(229, 214, 193);
    width: 100px;
    margin-left: 390px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    border: 2px solid white;
    font-size: 10px;
    cursor: pointer;
}